*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body{
    margin-top: 60px;
}
header{
    width:100%;
    background-color: #ffffff;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom:2px solidx #652410;
}

header nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:15px 20px 15px 20px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius: 10px;
    @media screen and(max-width:768px) {
        justify-content: space-between;
    }
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: fit-content;

}
nav .logo h1{
    color:rgb(32, 2, 2);
    @media screen and (max-width:768px) {
     font-size: 28px;  
    }
}

.logo img{
    width: 40px;
    padding: 0;
}

nav ul{
    width: 40%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 768px){
   nav ul{
    display:none;
    width: 100%;
    height: 50vh;
    position: absolute;
    left: 0;
    scroll-behavior: smooth;
    top: 100px;
    align-items: center;
    background-color: white;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px 0 50px 0;
   }

    nav ul.show{
        top: 70px;    
        display: flex;
        width: 100%;
    }

    nav ul li a{
        font-size: 50px;
    }
}



nav ul li{
    list-style: none;
}

nav ul li a, .logins a{
    text-decoration: none;
    font-size: 20px;
    color: #000000;
   
}

.logins a{
     @media screen and (max-width:768px) {
     display: none;  
    }
}

nav ul i, nav .logins i{
    font-size: 25px;
    cursor: pointer;
}
.cart-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
nav ul span{
    width: 15px;
    height: 15px;
    text-align: center;
    padding: 6px;
    font-size: 16px;
    position:relative;
    top: -10px;
    right: 10px;
    background-color: #652410;
    color: #ffffff;
    border-radius: 50%;
}

#menuBar{
    display: none;
    font-size: 25px;
    @media screen and (max-width:768px) {
       display: flex;
    }
}


.logins{
    width: 8%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @media screen and (max-width:768px) {
      width: 25%; 
    }
}

main{
    background-color: rgb(255, 255, 255);
}

main .contact-us-hero-box{
    width: 100%;
    height: 200px;
    background-color: #652410;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.contact-us-hero-box h1{
    font-size: 30px;
    color: #ffffff;
}

.contact-us-hero-box p{
    color: white;
}

.contact-us-hero-box p span{
    color: yellow;
}


.carts-box{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    padding: 25px;
    @media screen and (max-width:1024px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.cart-container{
    height: 100%;
    width: 70%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    @media screen and (max-width:1024px) {
        width: 100%;
    }
}


.cart-container .cart-div{
    width: 100%;
    display: flex;
    border: 1px solid;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    border-radius: 8px;
    padding: 0 10px;
}

.cart-div img{
    width: 150px;
}

.cart-decription{
    display: flex;
    width: 75%;
    justify-content: space-between;
}

#delete-icon{
    color: red;
    font-size: 25px;
}






























footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
}
.join-us{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000000;
    padding: 50px;
    border-radius: 0 0 10px 10px;

}

.join-us .sub-box h1{
    color: #ffffff;

}

.join-us p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-right: 50px;
}

.join-us .sub-box{
    width: 100%;
    padding-left: 50px;
}

.join-us .sub-box form{
    width: 300px;
    height: auto;
    border-radius: 8px;
}

.join-us .sub-box .email-box{
    border-radius: 8px;
    width: 100%;
    height: 30px;
    display: flex;
    gap: 5px;
}

.join-us .sub-box .email-box input[type="email"]{
    width: 75%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 8px 0 0 8px;
    padding-left: 10px;
}

.join-us .sub-box .email-box button[type="submit"]{
    width: 25%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 0 8px 8px 0;
    background-color: red;
}
.join-us .sub-box h1{
    max-width: 300px;
}

.useful-links .footer-logo{
    width: 50%;
    height: 100%;
    padding: 0;
    margin: 0;
    justify-content: center;
    display: flex;
    align-items: center;
}

.useful-links{
    margin-top: 20px;
    padding-bottom:50px ;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.useful-links .links{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        gap: 10px;
}

.links h1{
    font-size: 25px;
}
.links li{
    list-style: none;
}

.links li a{
    text-decoration: none;
    font-size: 16px;
    color: #652410;
}